@import "~bootstrap/dist/css/bootstrap.css";

* {
    box-sizing: border-box !important;
}

div {
    display: block;
}

    /* NAVBAR */

 .logo {
        padding-left: 35px;
        cursor: pointer;
        margin-bottom: 20px;
     }
  .nav-bar-content {
    background:url("../images/banner.jpg");
    overflow: hidden;
    padding-top: 20px;
  }
  .nav-bar-item {
    display: inline-block;
    padding: 0px 13px;

  }
  .nav-bar-list {
    float: right;
    margin-bottom: 15px;
  }


  .nav-bar-content a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-bar-content a:hover {
    color: lightgreen;
  }
  .nav-bar-content a.active {
    color: lightgreen;
  }

  mat-icon {
    font-size: 27.5px;
    color: #fff; 
    float: left;
    line-height: 7px;
    cursor: pointer;
}
mat-icon:hover {
    color: lightgreen;
    transition: ease-in all .3s;
}

/* Main content */

.main-content {
    padding-top: 40px;
}

/* Product description */
.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  cursor: pointer;
}
.product-description {
  padding-top: 35px;
  text-align: left;
}
.product-description p {
  cursor: pointer;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.product-description p:hover {
  color: #C35836;
  transition: ease-in all .3s;

}
.product-stock h6 {
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-stock span {
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-price {
  padding-top: 20px;
}
.product-price .price {
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
.product-price .price-value {
  font-weight: 500;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-buy {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-success:hover {
  background: rgb(14,87,242);
  background: linear-gradient(90deg, rgba(14,87,242,1) 0%, rgba(4,73,156,1) 50%, rgba(12,4,145,1) 100%);
}

.col {
  border: 0.1px solid lightgray;
  padding-right: 20px;
}




.footer-container {
  background:url("../images/footer.jpg");
 padding-top: 40px;
}

.space {
  padding-top: 40px;
}

.footer {
  max-width: fit-content;
  height: 25vh;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.footer-heading h2 {
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.footer-heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer-heading a:hover {
  color: red;
  transition: .3s ease-out;
}
.footer-email-form h2 {
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: #b1b1b1;
}
#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #F9423D;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}
#footer-email-btn:hover {
  cursor: pointer;
  background-color: #337AF1;
  transition: all 0.3s ease-out;
}
.footer-image {
padding-right: 100px;
}
.logo1 {
  text-align: left;
  padding-top: 30px;
}
ul.social_icon {
  width: 100%;
}

ul.social_icon li {
  display: block;
  padding-top: 7px;
}

ul.social_icon li a {
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 30px;
  margin: 0 3px;
  text-decoration: none;
  transition: ease-in all .3s;
}

ul.social_icon li a:hover {
  background: red;
}

.fa {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #252525;
}


ul, li, ol {
  list-style: none;
}

/* Copyright */
.copyright {
  margin-top: 80px;
  padding-bottom: 20px;
}
.copyright p {
  color: #ddd;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-top: #ddd solid 1px;
  padding-top: 25px;
  font-weight: normal;
}
.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
}