<div class="nav-bar-content">
  <img src="../assets/logo.png" alt="#" class="logo" routerLink="/home" />
  <ul class="nav-bar-list">
    <li class="nav-bar-item">
      <a routerLink="/home">Home</a>
    </li>
    <li class="nav-bar-item">
      <a routerLink="/products">Products</a>
    </li>
    <li class="nav-bar-item">
      <a href="#">About</a>
    </li>
    <li class="nav-bar-item">
      <mat-icon aria-hidden="false">search</mat-icon>
    </li>
    <li class="nav-bar-item">
      <a routerLink="/login" class="active">Login</a>
    </li>
  </ul>
</div>

<div class="background-div">
  <!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="tab-login"
      data-mdb-toggle="pill"
      routerLink="/login"
      role="tab"
      aria-controls="pills-login"
      aria-selected="true"
      >Login</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="tab-register"
      data-mdb-toggle="pill"
      routerLink="/register"
      role="tab"
      aria-controls="pills-register"
      aria-selected="false"
      >Register</a
    >
  </li>
</ul>
<!-- Pills navs -->

<!-- Pills content -->
<div class="tab-content container-div">
  <div
    class="tab-pane fade show active"
    id="pills-login"
    role="tabpanel"
    aria-labelledby="tab-login"
  >
    <form [formGroup]="loginForm" class="needs-validation" novalidate>
      <div class="text-center mb-3">
        <p>Sign in with:</p>
        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fa fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fa fa-google"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fa fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fa fa-github"></i>
        </button>
      </div>

      <p class="text-center">or</p>

      <div class="form-outline mb-4">
        <label class="form-label" for="username">Username</label>
        <input type="text" id="username" class="form-control" formControlName="username" />
        <div class="alert alert-danger"  *ngIf="loginField?.['username'].touched && loginField?.['username'].errors?.['required']">
          Username is required
        </div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="loginPassword">Password</label>
        <input [type]="hide ? 'text' : 'password'" id="loginPassword" class="form-control" formControlName="password" />
        <div class="alert alert-danger"  *ngIf="loginField?.['password'].touched && loginField?.['password'].errors?.['required']">
          Password is required
        </div>
      </div>
      <div class="password-div">
        <mat-icon class="password-icon" (click)="hide = !hide">{{
            hide ? "visibility" : "visibility_off"
          }}</mat-icon>
      </div>

      <!-- 2 column grid layout -->
      <div class="row mb-4">
        <div class="col-md-6 d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check mb-3 mb-md-0">
            <input
              class="form-check-input checkbox-input"
              type="checkbox"
              value=""
              id="loginCheck"
              unchecked
            />
            <label class="form-check-label" for="loginCheck">
              Remember me
            </label>
          </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
          <!-- Simple link -->
          <a href="#" class="a-link">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <div class="form-button">
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="doLogin()">
          Sign in
        </button>
      </div>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a routerLink="/register" class="a-link">Register</a></p>
      </div>
    </form>
  </div>
</div>

</div>

<app-footer></app-footer>