
<div class="space">


  <div class="footer-container">
    <div class="footer">
      <div class="footer-image">
        <img src="../assets/logo1.png" class="logo1" alt="" />
      </div>
      <div class="footer-heading">
        <h2>Social Media</h2>
        <ul class="social_icon">
          <li>
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-linkedin-square" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer-heading foother-1">
        <h2>About Us</h2>
        <a href="#">Blog</a>
        <a href="#">Demo</a>
        <a href="#">Customers</a>
        <a href="#">Investors</a>
        <a href="#">Terms of Service</a>
      </div>
      <div class="footer-heading footer-2">
        <h2>Contact Us</h2>
        <a href="#">Jobs</a>
        <a href="#">Support</a>
        <a href="#">Contact</a>
        <a href="#">Sponsorships</a>
      </div>
      <div class="footer-email-form">
        <h2>Join our newsletter</h2>
        <input
          type="email"
          id="footer-email"
          placeholder="Enter your email address"
        />
        <input type="submit" value="Subscribe" id="footer-email-btn" />
      </div>
    </div>
    <div class="copyright">
      <div class="copyright-container">
        <div class="row">
          <div>
            <p>© 2022 All Rights Reserved. Designed by Mihai Neamtiu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>